$primary-color: #55834a;
$secondary-color: #7ebc6f;

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $primary-color;
  padding: 6px 12px;
  border-radius: 5px;
}

button:hover {
  background-color: $primary-color;
  color: white;
}

button:disabled {
  background-color: grey;
  color: white;
  cursor: default;
  border: none;
}


// dialogs
.dialog {
  position: fixed;
  z-index: 100;
  background-color: white;
  overflow-y: auto;
  font-size: 16px;
  padding: 12px;
}

.close-button {
  float: right;
  cursor: pointer;
}

.section {
  margin-bottom: 6px;
  text-align: left;
}

.dialog-title {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}
